@using Layout
@using Microsoft.Extensions.Options
@using VmsTheme.Server.Pages.Error
@using Volo.Abp.AspNetCore.Components.Web.Theming.Routing
@using VmsTheme.Web.Themes.Vms
@inject IOptions<AbpRouterOptions> RouterOptions

<CascadingAuthenticationState>
    <Router AppAssembly="RouterOptions.Value.AppAssembly"
            AdditionalAssemblies="RouterOptions.Value.AdditionalAssemblies">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(DefaultDarkSidebar)">
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(SystemLayout)">
                <PageNotFound></PageNotFound>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>