@using ModalSize = VmsTheme.Web.Extensions.Enums.ModalSize
@inject IJSRuntime _js

<div class="modal fade" tabindex="-1" @ref="modalRef" id="@ModalId">
    <div class="modal-dialog @ModalDialogClass">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ModalTitle</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal">
                    <i class="ki-duotone ki-cross fs-2x"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
            @ChildContent
        </div>
    </div>
</div>

@code {
    private ElementReference modalRef;

    [Parameter] public string ModalId { get; set; }
    [Parameter] public string ModalTitle { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public ModalSize ModalSize { get; set; } = ModalSize.Medium; // Default to Medium

    private string ModalDialogClass => ModalSize switch
    {
        ModalSize.Small => "modal-dialog modal-sm",
        ModalSize.Large => "modal-dialog modal-lg",
        _ => "modal-dialog modal-md", // Default to medium
    };

    public void Show()
    {
        _js.InvokeVoidAsync("modalShow", ModalId);
    }

    public void Hide()
    {
        _js.InvokeVoidAsync("modalHide", ModalId);
    }
}